.\base_practice_full_rtos_cpp\DebugConfig\
.\base_practice_full_rtos_cpp\Listings\
.\base_practice_full_rtos_cpp\Objects\
.\base_practice_full_rtos_cpp\RTE\
.\base_practice_full_rtos_cpp\STM32CubeMX\